jupyterlab
ipykernel
ipywidgets
pandas
numpy
scipy
statsmodels
openpyxl
xlrd
odfpy
pyarrow
pyreadstat
sqlalchemy
scikit-learn
imbalanced-learn
xgboost
lightgbm
catboost
tensorflow
shap
plotly
matplotlib
seaborn
streamlit
python-pptx
reportlab
kaleido
joblib
python-dotenv
